.place-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
  padding: 0 20px;
}

.place-order-left,
.place-order-right {
  width: 100%;
  max-width: 100%;
}

.place-order-left .title {
  font-size: 24px;
  margin-bottom: 30px;
}

.place-order-left input {
  padding: 12px;
  font-size: 16px;
}

.place-order-left .multi-fields {
  flex-direction: column;
  gap: 15px;
}

.place-order .cart-total button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
}
.place-order-left .field-class {
  margin: 5px 0;
}

/* Tablet and larger screens */
@media (min-width: 768px) {
  .place-order {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
  }

  .place-order-left {
    max-width: max(30%, 500px);
    gap: 10px;
  }

  .place-order-right {
    max-width: max(40%, 500px);
    gap: 10px;
  }

  .place-order-left .multi-fields {
    flex-direction: row;
    gap: 10px;
  }
}
